@import "tailwindcss";
@theme {
  --color-dark-blue: #2e4e7e;
  --color-dark-red: #760001;
  --color-dark-green: #6e8b74;
  --color-light-gray: #e9e7ef;
  --color-light-red: #fee3d5;
  --color-light-blue: #abc3f0;
  --color-light-green: #e0eee8;
}
:root {
  font-family: "Noto Sans SC", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f9fafb;
  margin: 24px 0 24px 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

[draggable],
.touch-manipulation {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.box {
  color: #2e4e7e;
  display: inline-block;
  width: 100%;
  margin: 5% auto;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px #2e4e7e;
  padding: 1em;
  background: #e9e7ef;
  font-size: 14px;
}
